{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.bytedeco/llvm-platform {:mvn/version "16.0.4-1.5.9"}
        io.github.humbleui/jwm  {:mvn/version "0.4.15"  :exclusions [io.github.humbleui/types]}
        io.github.humbleui/types$clojure     {:mvn/version "0.1.2"}
        cnuernber/dtype-next {:mvn/version "10.013"}
        com.phronemophobic/clong {:mvn/version "1.1"}}
 :alias {:webview {:jvm-opts ["-Djdk.attach.allowAttachSelf" #_"-XX:+UnlockDiagnosticVMOptions" #_"-XX:+DebugNonSafepoints"
                              "-XstartOnFirstThread"]}}}

